<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2> AddStudent</h2>
<form th:action="@{/saveStudent}" th:object="${student}" method="post">
Name : 
<input type="text" th:field="*{name}" style=/> <br><br>
Course:
<input type="text" th:field="*{course}" /> <br><br>
Department:
<input type="text" th:field="*{dept}" /> <br><br>

<button type="submit" style="background-color: green; color:white; padding: 8px 16px ; border:none ; border-radius:4px;">
Save
</button>
</form> <br>
<a th:href="@{/}" style="border:2px groove yellow; color:red; border-radius:20px; padding:6px 12px; text-decoration:none;">Back to list </a>
</body>
</html>