<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<h2>Students list function</h2>
<!-- Search form -->
<form th:action="@{/search}" method="get" style="margin-bottom:20px;">
    <input type="text" name="keyword" th:value="${keyword}" placeholder="Search by ID, Name, Course, Dept" style="padding:8px; width:300px; border-radius:6px; border:1px solid #ccc;">
    <button type="submit" style="padding:8px 12px; background-color:#007bff; color:white; border:none; border-radius:6px; cursor:pointer;">Search</button>
    <a th:href="@{/}" style="padding:8px 12px; background-color:green; color:white; border-radius:6px; text-decoration:none; margin-left:10px;">Reset</a>
</form>
<table border="1">
<a th:href="@{/addStudent}" class="btn-add" >Add new Student</a><br><br>
<tr>
<th>ID</th>
<th>Name</th>
<th>Course</th>
<th>Department</th>
        <th>Actions</th>
</tr>
<tr th:each="student:${students}">
<td th:text="${student.id}"></td>
<td th:text="${student.name}"></td>
<td th:text="${student.course}"></td>
<td th:text="${student.dept}"></td>
 <td>
     <a th:href="@{/updateStudent/{id}(id=${student.id})}">Update</a> 
     <a th:href="@{/deleteStudent/{id}(id=${student.id})}">Delete</a>
    <a th:href="@{/view/{id}(id=${student.id})}">View</a>

    </td>
</tr>
</body>
</html>